@font-face {
  font-family: 'Hakgyoansim Puzzle Black';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimPuzzleBlack/HakgyoansimPuzzleBlack.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimPuzzleBlack/HakgyoansimPuzzleBlack.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimPuzzleBlack/HakgyoansimPuzzleBlack.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimPuzzleBlack/HakgyoansimPuzzleBlack.ttf') format('truetype');
}